<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="screen-orientation" content="portrait" /><!-- UC强制竖屏 -->
    <meta name="x5-orientation" content="portrait" /><!-- QQ强制竖屏 -->
    <meta name="author" content="" />
    <title>v-shop 购物车</title>
    <meta name='keywords' content='测试' />
    <meta name='description' content='测试' />
    <script src="js/remPerPx.js"></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
    <div class="container">

        <div class="row text-center top-title">
            <a class="iconfont back" onclick="javascript:history.go(-1);"></a>
            <span>购物车</span>
            <span class="top-right text-gray">编辑</span>
        </div>

        <div class="car">
            <ul class="row list-unstyled">
                <li><i class="iconfont icon-round mr-10 fs-16"></i>v-shop自营旗舰店</li>
                <li class="pt-5 pb-5 bg-white">
                    <div class="col-xs-1 mt-25 text-center"><i class="iconfont icon-round fs-14"></i></div>
                    <a class="col-xs-4 block" href="proDetail.html"><img src="images/small/simg01.jpg" /></a>
                    <div class="col-xs-6 pl-0 pr-0">
                        <a class="block text-black" href="proDetail.html">枣夹核桃</a>
                        <div class="text-danger">¥168.00</div>
                        <div>
                            <span class="pull-left text-gray fs-10">1盒装</span>
                            <div class="pull-right add-minus">
                                <span class="btn-minus disabled">-</span>
                                <input class="add-minus-input" type="tel" value="1" />
                                <span class="btn-add">+</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pt-5 pb-5 bg-white">
                    <div class="col-xs-1 mt-25 text-center"><i class="iconfont icon-round fs-14"></i></div>
                    <a class="col-xs-4 block" href="proDetail.html"><img src="images/small/simg02.jpg" /></a>
                    <div class="col-xs-6 pl-0 pr-0">
                        <a class="block text-black" href="proDetail.html">枣夹核桃</a>
                        <div class="text-danger">¥168.00</div>
                        <div>
                            <span class="pull-left text-gray fs-10">2盒装</span>
                            <div class="pull-right add-minus">
                                <span class="btn-minus disabled">-</span>
                                <input class="add-minus-input" type="tel" value="1" />
                                <span class="btn-add">+</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="row list-unstyled">
                <li><i class="iconfont icon-round mr-10 fs-16"></i>牙买加官方旗舰店</li>
                <li class="pt-5 pb-5 bg-white">
                    <div class="col-xs-1 mt-25 text-center"><i class="iconfont icon-round fs-14"></i></div>
                    <a class="col-xs-4 block" href="proDetail.html"><img src="images/small/simg03.jpg" /></a>
                    <div class="col-xs-6 pl-0 pr-0">
                        <a class="block text-black" href="proDetail.html">枣夹核桃</a>
                        <div class="text-danger">¥168.00</div>
                        <div>
                            <span class="pull-left text-gray fs-10">1盒装</span>
                            <div class="pull-right add-minus">
                                <span class="btn-minus disabled">-</span>
                                <input class="add-minus-input" type="tel" value="1" />
                                <span class="btn-add">+</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 底部固定按钮 -->
    <div id="fixedBtn" class="btn-fixed bg-white text-center fs-16">
        <div class="col-xs-8 text-left mt-5">
            <label class="pull-left text-gray ">
                <i class="iconfont icon-round fs-16"></i>
                <i class="ml-5 fs-12">全选</i>
            </label>
            <div class="pull-right text-right text-black fs-12">总计：<i class="text-danger fs-16">¥999.99</i></div>
        </div>
        <a class="col-xs-4 relative bg-danger" href="order.html">去结算</a>
    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/plugIn.js"></script>
     <script src="js/demo.js"></script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>