<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="screen-orientation" content="portrait" /><!-- UC强制竖屏 -->
    <meta name="x5-orientation" content="portrait" /><!-- QQ强制竖屏 -->
    <meta name="author" content="" />
    <title>v-shop 我的订单</title>
    <meta name='keywords' content='测试' />
    <meta name='description' content='测试' />
    <script src="js/remPerPx.js"></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
    <div class="container">

        <div class="row text-center top-title">
            <a class="iconfont back" onclick="javascript:history.go(-1);"></a>
            <span>我的订单</span>
        </div>

        <div class="car">
            <div class="row mb-10 pt-5 pr-15 pl-15 bg-white order-addr">
                <div class="col-xs-11 pl-0 pr-0">
                    <div><span class="text-gray">收件人：</span>张三疯</div>
                    <p><span class="text-gray">地&nbsp;&nbsp;&nbsp;&nbsp;址：</span>中华人民共和国广东省深圳市来了就是深圳人001栋666号</p>
                </div>
                <a class="col-xs-1 block pl-0 pr-0" href="javascript:;"><i class="iconfont icon-jinrujiantou mt-20 text-gray"></i></a>
            </div>

            <ul class="row list-unstyled">
                <li>v-shop自营旗舰店</li>
                <li class="pt-5 pb-5">
                    <div class="col-xs-3"><img src="images/small/simg01.jpg" /></div>
                    <div class="col-xs-9 pl-0">
                        <span class="block text-black">枣夹核桃</span>
                        <div class="text-danger">¥168.00<span class="pull-right text-gray">× 1</span></div>
                    </div>
                </li>
                <li class="pt-5 pb-5">
                    <div class="col-xs-3"><img src="images/small/simg02.jpg" /></div>
                    <div class="col-xs-9 pl-0">
                        <span class="block text-black">枣夹核桃</span>
                        <div class="text-danger">¥168.00<span class="pull-right text-gray">× 2</span></div>
                    </div>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5">
                    <span class="pull-left">运费</span>
                    <span class="pull-right text-danger">包邮</span>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5"><input class="car-msg" type="text" placeholder="给商家留言" /></li>
            </ul>
            <ul class="row list-unstyled">
                <li>牙买加官方旗舰店</li>
                <li class="pt-5 pb-5">
                    <div class="col-xs-3"><img src="images/small/simg03.jpg" /></div>
                    <div class="col-xs-9 pl-0">
                        <span class="block text-black">枣夹核桃</span>
                        <div class="text-danger">¥168.00<span class="pull-right text-gray">× 1</span></div>
                    </div>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5">
                    <span class="pull-left">运费</span>
                    <span class="pull-right text-danger">包邮</span>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5">
                    <span class="pull-left">运费险</span>
                    <span class="pull-right text-danger">商家赠送<i class="iconfont icon-jinrujiantou"></i></span>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5"><input class="car-msg" type="text" placeholder="给商家留言" /></li>
            </ul>
            <ul class="row list-unstyled">
                <li class="pr-15 pl-15 pt-5 pb-5 fs-12">
                    <span class="pull-left text-default">优惠券</span>
                    <span class="pull-right text-danger">未使用优惠券(1)<i class="iconfont icon-jinrujiantou"></i></span>
                </li>
                <li class="pr-15 pl-15 pt-5 pb-5">
                    <span class="pull-left">是否使用积分抵扣<i class="fs-10 text-gray">（可用积分:9999）</i></span>
                    <span class="pull-right text-danger"><i class="iconfont icon-round fs-15"></i></span>
                </li>
            </ul>

            <ul class="row list-unstyled">
                <li class="fs-14">共<b class="text-danger">6</b>件商品</li>
                <li class="pr-15 pl-15 pt-5 pb-5 text-gray">
                    <p>总金额：¥666.66</p>
                    <p>总邮费：包邮</p>
                    <p>总优惠：¥333.33</p>
                    <p>积分抵扣：¥123.12</p>
                    <p class="text-danger fs-14 bold">实付金额：¥333.33</p>
                </li>
            </ul>
        </div>

        <a class="btn btn-success mt-15 pt-5 pb-5" href="javascript:;">微信支付</a>
        <a class="btn btn-primary mt-15 pt-5 pb-5 mb-15" href="javascript:;">支付宝支付</a>

    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/plugIn.js"></script>
     <script src="js/demo.js"></script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>