<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="screen-orientation" content="portrait" /><!-- UC强制竖屏 -->
    <meta name="x5-orientation" content="portrait" /><!-- QQ强制竖屏 -->
    <meta name="author" content="" />
    <title>v-shop 产品详情</title>
    <meta name='keywords' content='测试' />
    <meta name='description' content='测试' />
    <script src="js/remPerPx.js"></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
    <div class="container">

        <div class="row text-center top-title">
            <a class="iconfont back" onclick="javascript:history.go(-1);"></a>
            <span>产品详情</span>
            <a class="iconfont icon-liebiao top-right" href="javascript:;"></a>
        </div>


        <div class="row">
            <img src="images/big/img02.jpg"/>
        </div>

        <div class="row bg-white pl-15 pr-15 pb-10 mb-10">
            <h5>枣夹核桃</h5>
            <div class="text-danger">¥ <span class="fs-20">666.00 ~ 888.00</span></div>
            <p>
                <span class="pull-left fs-12 text-gray">库存：1998</span>
                <span class="pull-right fs-10 text-gray text-right">已售出:999</span>
            </p>
        </div>

        <div class="row bg-white pl-15 pr-15">

            <div>
                <h5 class="pl-10 pt-5 pb-5 text-danger bg-gray text-center bold">重要公告</h5>
                <p>受金砖会议影响，厦门地区买家暂时无法收货，收件地址为厦门市的订单预计9月6日之后恢复正常发货，请知悉</p>
            </div>

            <div>
                <h5 class="pl-10 pt-5 pb-5 bg-gray text-center">商品详情</h5>
                <p>［活动说明］</p>
                <p>7月17晚上十点开始，枣夹核桃限时限量特惠，第二份半价，包邮82.5元/4盒。抢完即止。</p>
                <p>－</p>
                <p>口感：酥脆香甜</p>
                <p>产地：陕西富平</p>
                <p>特点：红枣个大绵甜，核桃酥脆爽口，二者的结合带来不一般的感觉，营养更为丰富</p>
                <p>储藏方法：阴凉干燥处保存</p>
                <p>生产日期：见包装</p>
                <p>保 质 期：180天</p>
                <p>包装方式：密封/礼盒</p>
                <p>商品规格：255g/盒</p>
                <p>加工工艺：红枣切开夹入去壳核桃</p>
                <p>发货时效：下单后48小时内发货</p>
                <p><img src="images/big/img01.jpg" /></p>
                <p>枣夹核桃是陕西美食，由新疆产的新鲜红枣去核，包上新鲜的核桃仁组成。红枣的甜中和了核桃的微涩，入口香酥，甜而不腻。</p>
                <p><img src="images/big/img02.jpg" /></p>
                <p>精选陕西秦岭深处的老树核桃，区别于市面上的一般核桃，得到秦岭环境的滋润，老树核桃口感佳。</p>
            </div>

            <div>
                <h5 class="pl-10 pt-5 pb-5 bg-gray text-center">订单&售后</h5>
                <p><img src="images/qr-code.png" /></p>
                <h6 class="mb-0 text-danger">订单查询</h6>
                <p>关注“v-shop”微信公众号，进入“商城”，点击“订单”按钮，即可查看订单详情。</p>
                <h6 class="mb-0 text-danger">售后客服专线</h6>
                <p>售后问题请于国家法定工作日9:30~18:30工作时段于“v-shop”微信公众号留言或致电“v-shop”客服专线400-888-8888。</p>
                <h6 class="mb-0 text-danger">退换货及售后说明</h6>
                <p>根据国家相关法律规定，食品、保健食品类商品属于特殊商品，一经签收非质量问题概不退换货。</p>
                <p>若出现质量问题，请于签收后2个工作日内的工作时段于“v-shop”微信公众号留言或致电“v-shop”客服专线，逾期不予处理。</p>
                <p>取消订单操作请在商品未发货时于客服工作时段在“v-shop”微信公众号留言或致电“v-shop”客服专线处理，商品一经发货，恕不予以取消。</p>
            </div>

            <div>
                <h5 class="pl-10 pt-5 pb-5 bg-gray text-center">关于物流</h5>
                <h6 class="mb-0 text-danger">派送范围</h6>
                <p>该商品全国包邮，偏远地区（港澳台、西藏、新疆、内蒙古、青海、宁夏等）除外。</p>
            </div>
        </div>

    </div>

    <!-- 底部固定按钮 -->
    <div id="fixedBtn" class="btn-fixed bg-white text-center fs-16">
        <a class="col-xs-6 text-danger" href="order.html">我的订单</a>
        <a class="col-xs-6 bg-danger relative" href="car.html">加入购物车</a>
    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/plugIn.js"></script>
     <script src="js/demo.js"></script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>