<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="screen-orientation" content="portrait" /><!-- UC强制竖屏 -->
    <meta name="x5-orientation" content="portrait" /><!-- QQ强制竖屏 -->
    <meta name="author" content="" />
    <title>v-shop 分类</title>
    <meta name='keywords' content='测试' />
    <meta name='description' content='测试' />
    <script src="js/remPerPx.js"></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
    <div class="container">

        <div class="fixed search">
            <a class="iconfont back" onclick="javascript:history.go(-1);"></a>
            <form class="relative iconfont pl-15">
                <input type="text" placeholder="没有搜不到~" />
            </form>
        </div>

        <div class="row sort">
            <nav class="list-unstyled fixed sort-sidebar">
                <span class="active">每日精品</span>
                <span>热门推荐</span>
                <span>热卖专场</span>
                <span>活动专场</span>
                <span>品牌专卖</span>
                <span>新人推荐</span>
                <span>流行服饰</span>
                <span>个护化妆</span>
                <span>家居日用</span>
                <span>运动户外</span>
                <span>母婴用品</span>
                <span>水果生鲜</span>
                <span>箱包皮具</span>
                <span>食品粮油</span>
                <span>地方特产</span>
                <span>营养保健</span>
            </nav>

            <div class="sort-list fs-10">
                <ul class="list-unstyled">
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg01.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg02.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg03.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg04.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg05.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg06.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg01.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg02.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg03.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="col-xs-4">
                        <div class="text-center">
                            <a href="proDetail.html"><img src="images/small/simg01.jpg"/></a>
                            <p>每日精选</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 底部固定按钮 -->
    <div id="fixedBtn" class="btn-fixed bg-white text-center fs-10">
        <a class="col-xs-3 text-gray" href="index.html">
            <span class="block iconfont icon-shouye"></span>
            首页
        </a>
        <a class="col-xs-3 text-gray active" href="sort.html">
            <span class="block iconfont icon-qiapianxingshi"></span>
            分类
        </a>
        <a class="col-xs-3 text-gray" href="car.html">
            <span class="block iconfont icon-gouwuche"></span>
            购物车
        </a>
        <a class="col-xs-3 text-gray" href="uc.html">
            <span class="block iconfont icon-my"></span>
            我
        </a>
    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/plugIn.js"></script>
     <script src="js/demo.js"></script>
    <script>
    $(function() {
        //sort-sidebar
        $('.sort-sidebar span').on('click', function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            $('.sort-list ul').eq(index).show().siblings().hide();
        });
    });
    </script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>