<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="ML-Config" content="fullscreen=yes,preventMove=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="screen-orientation" content="portrait" /><!-- UC强制竖屏 -->
    <meta name="x5-orientation" content="portrait" /><!-- QQ强制竖屏 -->
    <meta name="author" content="" />
    <title>v-shop 个人中心</title>
    <meta name='keywords' content='测试' />
    <meta name='description' content='测试' />
    <script src="js/remPerPx.js"></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
    <div class="container">

        <div class="row text-center top-title">
            <a class="iconfont back" onclick="javascript:history.go(-1);"></a>
            <span>个人中心</span>
        </div>

        <ul class="list-unstyled">
            <li></li>
        </ul>

    </div>


    <!-- 底部固定按钮 -->
    <div id="fixedBtn" class="btn-fixed bg-white text-center fs-10">
        <a class="col-xs-3 text-gray" href="index.html">
            <span class="block iconfont icon-shouye"></span>
            首页
        </a>
        <a class="col-xs-3 text-gray" href="sort.html">
            <span class="block iconfont icon-qiapianxingshi"></span>
            分类
        </a>
        <a class="col-xs-3 text-gray" href="car.html">
            <span class="block iconfont icon-gouwuche"></span>
            购物车
        </a>
        <a class="col-xs-3 text-gray active" href="uc.html">
            <span class="block iconfont icon-my"></span>
            我
        </a>
    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/plugIn.js"></script>
     <script src="js/demo.js"></script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>